ClientWSDL/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.example.org/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.example.org/" schemaLocation="http://localhost:8686/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversionEuroToDh">
<part name="parameters" element="tns:conversionEuroToDh"/>
</message>
<message name="conversionEuroToDhResponse">
<part name="parameters" element="tns:conversionEuroToDhResponse"/>
</message>
<message name="listAccount">
<part name="parameters" element="tns:listAccount"/>
</message>
<message name="listAccountResponse">
<part name="parameters" element="tns:listAccountResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="BankAccountService">
<operation name="conversionEuroToDh">
<input wsam:Action="http://ws.example.org/BankAccountService/conversionEuroToDhRequest" message="tns:conversionEuroToDh"/>
<output wsam:Action="http://ws.example.org/BankAccountService/conversionEuroToDhResponse" message="tns:conversionEuroToDhResponse"/>
</operation>
<operation name="listAccount">
<input wsam:Action="http://ws.example.org/BankAccountService/listAccountRequest" message="tns:listAccount"/>
<output wsam:Action="http://ws.example.org/BankAccountService/listAccountResponse" message="tns:listAccountResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws.example.org/BankAccountService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws.example.org/BankAccountService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
</portType>
<binding name="BankAccountServicePortBinding" type="tns:BankAccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankAccountServicePort" binding="tns:BankAccountServicePortBinding">
<soap:address location="http://localhost:8686/"/>
</port>
</service>
</definitions>